# Duplicated translations report

Language: {{ lang }}

Generated at: {{ date }}

{% if unclear_values %}
## Keys with multiple different translations


| Key | Translation | Package | File |
| --- | --- | --- | --- |
{% for key, values in unclear_values.items() -%}
{%- for value in values %}
{%- if loop.first -%}
| {{ key|whitespaces }}
{%- else -%}
|
{%- endif -%}
| {{ value.value|whitespaces }} | {{ value.package }} | {{ value.file }} |
{% endfor -%}
{%- endfor -%}
{%- endif -%}
